{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="bloqueC">
    <br>
    <img class="image_wrapper fl_image" src="{% static 'img/imagen01.jpg' %}" alt="Foto CV" height="300"/>
    <ul style="list-style-type: none">
        <li ><b>Nombre:</b> Franco HEREDIA</li>
        <li><b>Sexo:</b> Masculino</li>
        <li><b>Nacimiento:</b> 28/11/1997 - Cordoba, Argentina</li>
        <li><b>DNI:</b> 40.814.840</li>
        <hr>
        <li><b>Telefono:</b> 0351-15292543</li>
        <li><b>Direccion:</b> Mza 10 Lote 15, Bº Ampliacion Vicor</li>
        <li><b>CP:</b> 5151</li>
        <li><b>E-mail:</b> franheredia.ov@gmail.com</li>
    </ul>
</div>
{% endblock %}