{% extends 'base.html' %}
{% block content %}
<div class="main_column">
    {% for post in posts %}
    <div class="main_column_section">
        <a href="{% url 'app_blogh:vermipost' post.id %}"><h2>{{post.titulo}}</h2></a>
        <div class="main_column_section_content">
            <img class="image_wrapper fl_image" src="{{ MEDIA_URL }}/{{post.imagen}}" alt="imagen 1" width="200" height="150" href="base.html"/>
            <div> 
                <p  style='font-size:10px; margin-top:-12px;'>{{post.autor}} ---{{post.fecha}}</p>
                <hr>
                <a href="{% url 'app_blogh:vermipost' post.id %}"><p>{{post.resumen}}</p></a>
            </div>
        </div>
        <div class="cleaner"></div>
        <div class="bottom"></div>
    </div> 
    {% endfor %}
    {% endblock %}